* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.alert-duration sl-alert {
    margin-top: var(--sl-spacing-medium);
}


body {
    padding: 0%;
    margin: 0;
    background-color: #09002B;;
    color: white;
    font-size: 16px;
    min-height: 1500px;
    background-image: 
        url('Images/Artboard 2.png');
    width: 100vw;
    opacity: 100%;
    overflow-x: hidden;
}

#rocket_big {
    width: 4rem;
    position: fixed;
    top: 52rem;
    left: 4rem;
    cursor: pointer;
    z-index: 10000;
}

#rocket_little {
    display: none;
    width: 4rem;
    cursor: pointer;
    z-index: 10000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #09002B,transparent);
    z-index: 1000;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

section img#earth {
    mix-blend-mode: screen;
}

section img#midmountains {
    z-index: 10;
}

section img#frontmountains {
    z-index: 10;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5rem;
    z-index: 9;
    
}

#btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    width: 12rem;
    height: auto;
    padding: 0.75rem 1rem;
    display: inline-block;
    background:white;
    box-sizing: border-box;
    /* drop shadow */
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.2);
    border-radius: 36px;

    z-index: 9;
    font-size: 1.7rem;
    color: #4C93D1;
    transform: translateY(100px);
}

.sec1 {
    position: relative;
    padding: 100px;
}

.navbar ul {
    list-style-type: none;
    position: fixed;
    margin: 0rem;
    padding: 0px;
    width: 5rem;
    height: 34rem;
    background-color: transparent;
    top: 22vh;
    left: 90vw;
    z-index: 10000;
}

.navbar li a {
    display: block;
}

.nav_image {
    width: 4rem;
    margin: 0.25rem;
}

a {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin-top: 0%;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    margin-top: 4rem;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 0%;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0%;
}

.img_sun {
    width: 1200px;
    height: auto;
    display: block;
    margin: auto;
}

.vl {
    width: 1rem;
    height: 20rem;
    margin: 0% 50%;
    margin-bottom: 0%;
    background-color: white;
    border-radius: 360px;
}

.section_mercury {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.img_planet {
    width: 28rem;
    height: 28rem;
    margin: 5rem;
}

.p1 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 300;
    /* margin-left */
    padding-left: 0px;
    padding-right: 0px;
    width: 22rem;
    line-height: 2.2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: #FFC637;
    font-weight: 700;
}

.button {
    display: inline-block;
    background-color: #4C93D1;
    border: none;
    color: white;
    padding: 1.25rem 4.25rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.75rem;
    line-height: 2rem;
    cursor: pointer;
    margin: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.2);
    border-radius: 360px;
}

.button1 {
    width: 24.125rem;
    height: 4.5rem;
    margin-top: 1.25rem;
}

.center {
    text-align: center;
}

.section_venus{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.section_earth{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.img_saturn {
    width: 28rem;
    height: auto;
}

.ending {
    font-family: Orbitron;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.2rem;
    text-align: center;
    color: #FFFFFF;
}

.dot {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 360px;
    margin: 3rem;
}

.container{
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0px;
}

.orbit {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: relative;
    bottom: 9rem;
    left: 1rem;
    animation: spin 4s infinite linear;
}

@keyframes spin{
    100% {
        transform: rotate(360deg)
    }
}

.rocket {
    background-color: #fafcf7;
    height: 2rem;
    width: 1rem;
    border-radius: 50% 50% 0 0;
    position: relative;
    top: 2.8rem;
    right: 0.5rem;
}

.rocket:before {
    position: absolute;
    top: 1rem;
    left: -0.6rem;
    content: "";
    background-color: #39beff;
    border-radius: 50% 50% 0 0;
    width: 2.2rem;
    height: 1rem;
    z-index: -1;
}

.p_ending {
    padding-bottom: 2.5rem;
    padding-top: 0rem;
    font-size: 2rem;
    font-family: Orbitron;
}

/* //////////////////////////////////////// PAGE 1 - MERCURY ////////////////////////////////////////  */

.arrow-left {
    font-size: 2.5rem;
    position: relative;
    top: 0.8rem;
    left: 1rem;
    padding-right: 0.4rem;
}

.back_icon_container {
    display: inline-block;
    position: relative;
    bottom: 22rem;
    left: 2rem;
}

.back_icon {
    width: 4rem;
    float: left;
    transition: all 2s ease-in-out;
}

.back_icon:hover {
    transform: rotate(360deg);
}

.back_icon_container p {
    padding: 0px;
    text-align: left;
    float: right;
    position: relative;
    top: 1rem;
    left: 1.5rem;
}

.img_mercury {
    width: 800px; 
    height: 400px; 
    object-fit: cover;
    object-position: 50% 100%; 
   
    display: block;
    margin: auto;
}

.introflex p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0%;
    width: 80rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0rem 0rem 0 rem 6rem;
    margin: 0rem;
}

.sidebar li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 300;
}

.sidebar li {
    margin: 1rem 2rem;
}

.introflex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    margin: 0rem;
}

.zsection1 {
    align-items: center;
    padding-left: 12.5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.column1 {
    float: left;
    width: 66.66666%;
    padding-right: 12rem;
}

.column1 p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 28px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0%;
}
  
.column2 {
    float: left;
    width: 33.33333%;
    padding-bottom: 4rem;
    padding-left: 0rem;
    padding-right: 4rem;
}

.column2 .img_1 {
    width: 15rem;
}

.column2 .img_2 {
    width: 10rem;
}

.column2 .img_3 {
    width: 12rem;
}

.factstxt {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    padding: 15rem 12rem 5rem;
    text-align: center;
}

.cards {
    text-align: center;
}

.card-basic {
    width: 500px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 2rem;
    text-align: left;
}

.gallerytxt {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    padding: 15rem 12rem 5rem;
    text-align: center;
}

.mercury_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 0px;
    padding: 0% 8%;
    
}

.mercury_gallery img {
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    transition: 1s;
    padding: 1.2rem;
    cursor: pointer;
}

.mercury_gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.full_img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full_img img {
    width: 90%;
    max-width: 800px;
}

.full_img span {
    position: relative;
    bottom: 40%;
    left: 22%;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #221061;
    width: 100vw;
    margin: 8rem 0rem 0rem 0rem;
    padding: 2rem;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem;
}

.footer li {
    margin: 1rem 2rem;
}

.footer li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}

.svg-animation-container {
    width: 15rem;
    padding: 2rem;
    position: absolute;
    left: 90rem;
    bottom: 24rem;
}

.svg-animation-container svg{
    width: 100%;
}

#planet {
    animation: bounce 1s infinite ease-out alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-500px)
    }
}

#left_arm {
    animation: rotate 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-10deg);
    }
}








@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        padding: 0%;
        margin: 0;
        background-color: #09002B;;
        color: white;
        font-size: 16px;
        background-image: 
            url('Images/Artboard 2.png');
        opacity: 100%;
        display: block;
        overflow-x: hidden;
    }

    .p1 {
        font-size: 1.5rem;
    }

    .flex-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .rocket2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    
    #rocket_little {
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 50;
    }

    .sec1 p {
        padding-left: 100px;
        padding-right: 100px;
    }

    #text {
        font-size: 2rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .navbar ul  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 300px;
        align-items: center;
        align-content: center;
        top: 0vh;
        left: 0vw;
        justify-content: center;
        margin: 4% 32%;
    }


    .navbar {
        background-color: #09002B;
        width: 100vw;
        height: 32vh;
        position: fixed;
        z-index: 10000;
    }

    .navbar li {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .ending {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 3rem 3rem;
    }

    .p_ending {
        padding: 3rem 6rem 4rem 6rem;
    }

    .container {
        display: none;
    }

    #rocket_big {
        position: relative;
        top: 2005vh;
        left: 0vw;
        margin: 0% 40%;
        display: none;
    }

    .sec1 p {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 24px;
    }

    .sec1 {
        padding: 50px;
        padding-bottom: 10px;
    }

    .img_planet {
        width: 16rem;
        height: 16rem;
    }

    .button {
        width: 16rem;
        height: 4rem;
        margin-top: 1rem;
        display: block;
    }

    .button1 {
        font-size: 1.4rem;
        margin: auto;
    }

    h2 {
        font-size: 50px;
    }

    


    /* MERCURY PAGE */



    .arrow-left {
        font-size: 3rem;
        top: 0rem;
        left: 0.4rem;
        display: none;
    }
    
    .back_icon_container {
        display: inline-block;
        bottom: 7.6rem;
        left: 1.8rem;
        z-index: 10000;
    }
    
    .back_icon {
        width: 3rem;
        float: left;
    }
    
    .back_icon:hover {
        transform: rotate(360deg);
    }
    
    .back_icon_container p {
        padding: 0px;
        text-align: left;
        float: right;
        position: relative;
        top: 1rem;
        left: 1.5rem;
        display: none;
    }
    
    .img_mercury {
        width: 20rem; 
        height: 10rem; 
        object-fit: cover;
        object-position: 50% 100%; 
       
        display: block;
        margin: auto;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 0rem;
    }
    
    .introflex p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0rem;
        padding-bottom: 3rem;
        margin: 0%;
       
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0rem 0rem 0 rem 6rem;
        margin: 0rem;
        display: none;
    }
    
    .sidebar li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.8rem;
        font-weight: 300;
    }
    
    .sidebar li {
        margin: 1rem 2rem;
    }
    
    .introflex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
    }
    
    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #FFFFFF;
        margin: 0rem;
    }
    
    .zsection1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    .column1 {
        padding-right: 0rem;
        width: 100%;
        padding: 0rem 3rem;
    }

    
    .column1 p{
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0%;
    }
      
    .column2 {
        width: auto;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .column2 .img_1 {
        width: 14rem;
    }
    
    .column2 .img_2 {
        width: 10rem;
    }
    
    .column2 .img_3 {
        width: 12rem;
    }

    .text2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text3 {
        padding-top: 2rem;
    }
    
    .factstxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
        font-weight: 500;
        padding: 4rem 0rem 2rem;
        text-align: center;
    }
    
    .cards {
        text-align: center;
    }
    
    .card-basic {
        width: 16rem;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.6rem;
        padding: 2rem;
        text-align: left;
    }
    
    .gallerytxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 4rem;
        text-align: center;
    }
    
    .mercury_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 0%;
        padding: 0% 0%;
        justify-items: center;
        justify-content: center;
    }
    
    .mercury_gallery img {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        transition: 1s;
        padding: 1.2rem;
        cursor: pointer;
    }
    
    .mercury_gallery img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .full_img {
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    
    .full_img img {
        width: 90%;
        max-width: 800px;
    }
    
    .full_img span {
        position: relative;
        bottom: 16rem;
        left: -5rem;
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        color: #fff;
        cursor: pointer;
    }
    
    .footer {
        background-color: #221061;
        width: 100vw;
        margin: 8rem 0rem 0rem 0rem;
        padding: 2rem;
    }
    
    .footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
    
    .footer li {
        margin: 1rem 2rem;
    }
    
    .footer li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        text-decoration: none;
    }
    
    .footer li a:hover {
        text-decoration: underline;
    }
    
    .svg-animation-container {
        width: 15rem;
        padding: 2rem;
        position: absolute;
        left: 6rem;
        top: 142rem;
        display: none;
    }
    
    .svg-animation-container svg{
        width: 100%;
    }
    
    #planet {
        animation: bounce 1s infinite ease-out alternate;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(-500px)
        }
    }
    
    #left_arm {
        animation: rotate 2s infinite alternate;
        transform-origin: right;
        transform-box: fill-box;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(10deg);
        }
        70% {
            transform: rotate(-10deg);
        }
    }

    body {
        overflow-x: hidden;
    }
    
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {

    .sec1 p {
        padding-left: 100px;
        padding-right: 100px;
    }

    #text {
        font-size: 3.4rem;
    }

    .rocket2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }

    #rocket_little {
        display: block;
        width: 4rem;
        cursor: pointer;
        z-index: 10000;
    }

    .navbar ul  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 180px;
        align-items: center;
        align-content: center;
        top: 0vh;
        left: 0vw;
        justify-content: center;
        margin: 4% 42%;
    }


    .navbar {
        background-color: #09002B;
        width: 100vw;
        height: 20vh;
        position: fixed;
        z-index: 10000;
    }

    .navbar li {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .ending {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 3rem 6rem;
    }

    .p_ending {
        padding: 3rem 6rem 3rem 6rem;
    }

    .container {
        display: none;
    }

    #rocket_big {
        position: relative;
        top: 2090vh;
        left: 0vw;
        margin: 0% 45%;
        display: none;
    }

    .sec1 p {
        font-size: 28px;
        padding-right: 10px;
        padding-left: 10px;
    }



    /* MERCURYYYYYY */
    
    body {
        padding: 0%;
        margin: 0;
        background-color: #09002B;;
        color: white;
        font-size: 16px;
        background-image: 
            url('Images/Artboard 2.png');
        opacity: 100%;
        display: block;
        overflow-x: hidden;
    }

    .arrow-left {
        font-size: 3rem;
        top: 0rem;
        left: 0.4rem;
        display: none;
    }
    
    .back_icon_container {
        display: inline-block;
        bottom: 7.6rem;
        left: 1.8rem;
        z-index: 10000;
    }
    
    .back_icon {
        width: 3rem;
        float: left;
    }
    
    .back_icon:hover {
        transform: rotate(360deg);
    }
    
    .back_icon_container p {
        padding: 0px;
        text-align: left;
        float: right;
        position: relative;
        top: 1rem;
        left: 1.5rem;
        display: none;
    }
    
    .img_mercury {
        width: 20rem; 
        height: 10rem; 
        object-fit: cover;
        object-position: 50% 100%; 
       
        display: block;
        margin: auto;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 0rem;
    }
    
    .introflex p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0rem;
        padding-bottom: 3rem;
        margin: 0%;
       
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0rem 0rem 0 rem 6rem;
        margin: 0rem;
        display: none;
    }
    
    .sidebar li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.8rem;
        font-weight: 300;
    }
    
    .sidebar li {
        margin: 1rem 2rem;
    }
    
    .introflex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
    }
    
    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #FFFFFF;
        margin: 0rem;
    }
    
    .zsection1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    .column1 {
        padding-right: 0rem;
        width: 100%;
        padding: 0rem 3rem;
    }

    
    .column1 p{
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0%;
    }
      
    .column2 {
        width: auto;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .column2 .img_1 {
        width: 14rem;
    }
    
    .column2 .img_2 {
        width: 10rem;
    }
    
    .column2 .img_3 {
        width: 12rem;
    }

    .text2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text3 {
        padding-top: 2rem;
    }
    
    .factstxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
        font-weight: 500;
        padding: 4rem 0rem 2rem;
        text-align: center;
    }
    
    .cards {
        text-align: center;
    }
    
    .card-basic {
        width: 16rem;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.6rem;
        padding: 2rem;
        text-align: left;
    }
    
    .gallerytxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 4rem;
        text-align: center;
    }
    
    .mercury_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 0%;
        padding: 0% 0%;
        justify-items: center;
        justify-content: center;
    }
    
    .mercury_gallery img {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        transition: 1s;
        padding: 1.2rem;
        cursor: pointer;
    }
    
    .mercury_gallery img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .full_img {
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    
    .full_img img {
        width: 90%;
        max-width: 800px;
    }
    
    .full_img span {
        position: relative;
        bottom: 16rem;
        left: -5rem;
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        color: #fff;
        cursor: pointer;
    }
    
    .footer {
        background-color: #221061;
        width: 100vw;
        margin: 8rem 0rem 0rem 0rem;
        padding: 2rem;
    }
    
    .footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
    
    .footer li {
        margin: 1rem 2rem;
    }
    
    .footer li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        text-decoration: none;
    }
    
    .footer li a:hover {
        text-decoration: underline;
    }
    
    .svg-animation-container {
        width: 15rem;
        padding: 2rem;
        position: absolute;
        left: 6rem;
        top: 142rem;
        display: none;
    }
    
    .svg-animation-container svg{
        width: 100%;
    }
    
    #planet {
        animation: bounce 1s infinite ease-out alternate;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(-500px)
        }
    }
    
    #left_arm {
        animation: rotate 2s infinite alternate;
        transform-origin: right;
        transform-box: fill-box;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(10deg);
        }
        70% {
            transform: rotate(-10deg);
        }
    }

    body {
        overflow-x: hidden;
    }




}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    body {
        padding: 0%;
        margin: 0;
        background-color: #09002B;;
        color: white;
        font-size: 16px;
        background-image: 
            url('Images/Artboard 2.png');
        opacity: 100%;
        display: block;
        overflow-x: hidden;
    }

    .rocket2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }
    

    #rocket_little {
        display: block;
        width: 4rem;
        cursor: pointer;
        z-index: 10000;
    }

    .sec1 p {
        padding-left: 100px;
        padding-right: 100px;
    }

    #text {
        font-size: 3.4rem;
    }

    .navbar ul  {
        display: flex;
        top: 0vh;
        left: 0vw;
        flex-direction: row;
        justify-content: center;
        margin: 4% 46%;
    }

    .navbar {
        background-color: #09002B;
        width: 100vw;
        height: 14vh;
        position: fixed;
        z-index: 10000;
    }

    .navbar li {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ending {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 3rem 6rem;
    }

    .p_ending {
        padding: 2rem 6rem 2rem 6rem;
    }

    .container {
        display: none;
    }

    #rocket_big {
        position: relative;
        top: 2090vh;
        left: 0vw;
        margin: 0% 45%;
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    /* MERCURYYYYYY */

    .arrow-left {
        font-size: 3rem;
        top: 0rem;
        left: 0.4rem;
        display: none;
    }
    
    .back_icon_container {
        display: inline-block;
        bottom: 12rem;
        left: 2.6rem;
        z-index: 10000;
    }
    
    .back_icon {
        width: 3rem;
        float: left;
    }
    
    .back_icon:hover {
        transform: rotate(360deg);
    }
    
    .back_icon_container p {
        padding: 0px;
        text-align: left;
        float: right;
        position: relative;
        top: 1rem;
        left: 1.5rem;
        display: none;
    }
    
    .img_mercury {
        width: 26rem; 
        height: 13rem; 
        object-fit: cover;
        object-position: 50% 100%; 
       
        display: block;
        margin: auto;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        margin-top: 0rem;
    }
    
    .introflex p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0rem;
        padding-bottom: 3rem;
        margin: 0%;
       
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0rem 0rem 0 rem 6rem;
        margin: 0rem;
        display: none;
    }
    
    .sidebar li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.8rem;
        font-weight: 300;
    }
    
    .sidebar li {
        margin: 1rem 2rem;
    }
    
    .introflex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
    }
    
    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #FFFFFF;
        margin: 0rem;
    }
    
    .zsection1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    .column1 {
        padding-right: 0rem;
        width: 100%;
        padding: 0rem 3rem;
    }

    
    .column1 p{
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0%;
    }
      
    .column2 {
        width: auto;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .column2 .img_1 {
        width: 20rem;
    }
    
    .column2 .img_2 {
        width: 12rem;
    }
    
    .column2 .img_3 {
        width: 14rem;
    }

    .text2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text3 {
        padding-top: 2rem;
    }
    
    .factstxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 2rem;
        text-align: center;
    }
    
    .cards {
        text-align: center;
    }
    
    .card-basic {
        width: 22rem;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
        padding: 2rem;
        text-align: left;
    }
    
    .gallerytxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 4rem;
        text-align: center;
    }
    
    .mercury_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        grid-gap: 0px;
        padding: 0% 0%;
        justify-items: center;
        justify-content: center;
    }
    
    .mercury_gallery img {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        transition: 1s;
        padding: 1.2rem;
        cursor: pointer;
    }
    
    .mercury_gallery img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .full_img {
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    
    .full_img img {
        width: 90%;
        max-width: 800px;
    }
    
    .full_img span {
        position: relative;
        bottom: 16rem;
        left: -5rem;
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        color: #fff;
        cursor: pointer;
    }
    
    .footer {
        background-color: #221061;
        width: 100vw;
        margin: 8rem 0rem 0rem 0rem;
        padding: 2rem;
    }
    
    .footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
    
    .footer li {
        margin: 1rem 2rem;
    }
    
    .footer li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        text-decoration: none;
    }
    
    .footer li a:hover {
        text-decoration: underline;
    }
    
    .svg-animation-container {
        width: 15rem;
        padding: 2rem;
        position: relative;
        left: 0rem;
        top: 0rem;
        margin: auto;
    }
    
    .svg-animation-container svg{
        width: 100%;
    }
    
    #planet {
        animation: bounce 1s infinite ease-out alternate;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(-500px)
        }
    }
    
    #left_arm {
        animation: rotate 2s infinite alternate;
        transform-origin: right;
        transform-box: fill-box;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(10deg);
        }
        70% {
            transform: rotate(-10deg);
        }
    }

    body {
        overflow-x: hidden;
    }
    
}

@media screen and (min-device-width : 1025px) and (max-device-width : 1439px)  { 
    .svg-animation-container {
        width: 15rem;
        padding: 2rem;
        position: relative;
        left: 0rem;
        top: 0rem;
        margin: auto;
    }

    .footer ul {
        flex-direction: column;
        align-items: center;
    }

    .rocket_little {
        display: none;
    }
}

@media only screen and (min-device-width : 1440px) and (max-device-width : 2560px) {

    body {
        padding: 0%;
        margin: 0;
        background-color: #09002B;;
        color: white;
        font-size: 16px;
        background-image: 
            url('Images/Artboard 2.png');
        opacity: 100%;
        display: block;
        overflow-x: hidden;
    }

    .rocket_little {
        display: none;
    }

    .navbar ul {
        list-style-type: none;
        position: fixed;
        margin: 0rem;
        padding: 0px;
        width: 5rem;
        height: 34rem;
        background-color: transparent;
        top: 22vh;
        left: 90vw;
        z-index: 10000;
    }
    
    .navbar li a {
        display: block;
    }
    
    .nav_image {
        width: 4rem;
        margin: 0.25rem;
    }
    
    a {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        margin-top: 0%;
    }

    #text {
        position: absolute;
        color: #fff;
        white-space: nowrap;
        font-size: 8rem;
        z-index: 9;
        
    }

    .p1 {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 300;
        /* margin-left */
        padding-left: 0px;
        padding-right: 0px;
        width: 18rem;
        line-height: 2rem;
    }

    .img_planet {
        width: 20rem;
        height: 20rem;
        margin: 4rem;
    }

    /* MERCURY PAGE */

    .arrow-left {
        font-size: 3rem;
        top: 0rem;
        left: 0.4rem;
    }
    
    .back_icon_container {
        display: inline-block;
        bottom: 10rem;
        left: 10rem;
        z-index: 10000;
    }
    
    .back_icon {
        width: 3rem;
        float: left;
    }
    
    .back_icon:hover {
        transform: rotate(360deg);
    }
    
    .back_icon_container p {
        padding: 0px;
        text-align: left;
        float: right;
        position: relative;
        top: 0.5rem;
        left: 0.8rem;
    }
    
    .img_mercury {
        width: 50rem; 
        height: 15rem; 
        object-fit: cover;
        object-position: 50% 100%; 
       
        display: block;
        margin: auto;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        margin-top: 0rem;
    }
    
    .introflex p {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 3rem;
        margin: 0%;
       
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0rem 0rem 0rem 6rem;
        margin: 0rem;
    }
    
    .sidebar li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 300;
    }
    
    .sidebar li {
        margin: 1rem 2rem;
    }
    
    .introflex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
        padding-right: 10rem;
        align-items: flex-start;
    }
    
    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #FFFFFF;
        margin: 0rem;
    }
    
    .zsection1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin: auto;
        width: 70vw;
    }
    
    .column1 {
        padding-right: 0rem;
        width: 100%;
        padding: 0rem 3rem;
    }

    
    .column1 p{
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        font-size: 1.4rem;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0%;
    }
      
    .column2 {
        width: auto;
        padding-bottom: 0rem;
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .column2 .img_1 {
        width: 20rem;
    }
    
    .column2 .img_2 {
        width: 12rem;
    }
    
    .column2 .img_3 {
        width: 14rem;
    }

    .text2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text3 {
        padding-top: 2rem;
    }
    
    .factstxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 2rem;
        text-align: center;
    }
    
    .cards {
        text-align: center;
    }
    
    .card-basic {
        width: 22rem;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 30px;
        padding: 2rem;
        text-align: left;
    }
    
    .gallerytxt {
        font-family: 'Orbitron', sans-serif;
        font-size: 4rem;
        font-weight: 500;
        padding: 4rem 0rem 4rem;
        text-align: center;
    }
    
    .mercury_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
        grid-gap: 35px;
        padding: 0% 8%;
        justify-items: center;
        justify-content: center;
    }
    
    .mercury_gallery img {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        transition: 1s;
        padding: 1.2rem;
        cursor: pointer;
    }
    
    .mercury_gallery img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .full_img {
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    
    .full_img img {
        width: 90%;
        max-width: 800px;
    }
    
    .full_img span {
        position: relative;
        bottom: 43vh;
        left: -1rem;
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;
        color: #fff;
        cursor: pointer;
    }
    
    .footer {
        background-color: #221061;
        width: 100vw;
        margin: 8rem 0rem 0rem 0rem;
        padding: 2rem;
    }
    
    .footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
    
    .footer li {
        margin: 1rem 2rem;
    }
    
    .footer li a {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        text-decoration: none;
    }
    
    .footer li a:hover {
        text-decoration: underline;
    }
    
    .svg-animation-container {
        width: 15rem;
        padding: 2rem;
        position: relative;
        left: 0rem;
        top: 0rem;
        margin: auto;
    }
    
    .svg-animation-container svg{
        width: 100%;
    }
    
    #planet {
        animation: bounce 1s infinite ease-out alternate;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(-500px)
        }
    }
    
    #left_arm {
        animation: rotate 2s infinite alternate;
        transform-origin: right;
        transform-box: fill-box;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(10deg);
        }
        70% {
            transform: rotate(-10deg);
        }
    }

    body {
        overflow-x: hidden;
    }
    
}

